<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{email}},</p>
        <p>Thank you for registering for our service.</p>
        <p> Please click the link below to verify your account.</p>
        <a href="https://{{link}}">Verify Account</a>
        <p>Please ignore this message if you didnt register for the said account</p>

    </body>
</html>