<!DOCTYPE html>
<html>
<head>
  <title>File Downloads</title>
</head>
<body>
  <h1>File Statistics</h1>
  <ul>
    {{#each files}}
      <li>
        <span>Name: {{filename}} </span>
        <span>Downloads: {{download_count}} </span>
        <span>Emails Sent: {{email_count}}</span>
        </li>
    {{/each}}
  </ul>
</body>
</html>