<!DOCTYPE html>
<html>
<head>
<title>Files Available</title>
</head>
<body>

<h2>upload images</h2>
 
    <form action="/admin/upload" method="POST" enctype="multipart/form-data">
        <label>Title</label>
        <input type="text" name="title">
        <br>
        <label>Description</label>
        <input type="text" name="description" >
        <br>
        <input type="file" name="file">
        <button type="submit" onclick="upload()">Submit</button>
    </form>

    <script>
        const upload = () =>{
            const formData = new FormData()
            const fileField =document.querySelector('input[type="file"]')
            formData.append("file",fileField.files[0])

//https://lizzy-files-f7a38d64c9a1.herokuapp.com
            const response = fetch('http://localhost:3000/admin/upload',{
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials:'same-origin',
            body: formData
        }).then(response => {
        console.log(response)
    })
        } 
    </script>
</body>
</html>