<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{email}},</p>
        <p>Thank you for doing business with us.</p>
        <p> Please, find below the attachment of the file you requested</p>
        <p>Please contact us if you have any concerns</p>

    </body>
</html>